/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

* {
  font-family: 'Libre Baskerville', serif;
}

/*#highlight {
font-size: 500px;
  color: goldenrod;
  font-weight: bold;
}*/