.tab4-container {
    background-color: royalblue;
    color: white;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 2em;
  }
  
  .search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
  }
  
  .search-bar input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .search-bar button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .organization-grid {
    display: flex;
justify-content : center;
align-items : center;
    gap: 20px;
  }
  
  .organization-card1 {
    background-color: white;
    color: #333;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
  }

  .organization-card2 {
    background-color: white;
    color: #333;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
  }

  .organization-card3 {
    background-color: white;
    color: #333;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
  }

  .organization-card4 {
    background-color: white;
    color: #333;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  .organization-card5 {
    background-color: white;
    color: #333;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
  }

  .dropdown button{
    background-color: rgb(51, 30, 207);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;

  }

  .dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
  }

  .dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
  }

  .dropdown:hover .content{
    display: block;
  }

  .dropdown:hover button{
    background-color: hsl(0, 0%, 69%);
  }
  
  .dropdown a:hover{
    background-color: hsl(0, 0%, 70%)
  }
